%h1 New League
%div
- flash.each do |key, value|
  .alert{ :class => "alert-#{key}" }
    %button.close{ :data => { :dismiss => "alert" } } x
    %strong
      = value
%div
  .input-group
    = form_for :league, url: leagues_path do |f|
      %p
      = f.label :name
      %br
      = f.text_field :name, { class: "form-control" }
      %br
      = f.submit class: "btn btn-primary text-uppercase btn-block", value: 'SAVE >'
%h3
  %a= link_to('< Back', new_person_path, class: 'btn btn-default btn-block navbar navbar-fixed-bottom')